//VARIABLE SET
@import "assets/variable";

#contact .confirm_container .form dl {
  margin-top: 0px;
  line-height: 2;
}
#contact .confirm_container .form dl dt {
  padding-left: 100px;
  width: 150px;
  line-height: 2;
}
#contact .confirm_container .form dl dd {
  line-height: 2;
}
.thanks_container {
  text-align: center;
}
/** validation エラー */
label.error {
  font-weight: bold;
  font-size: 14px;
  color: $base_color01;
}
#contact .form dl dd label.error {
  margin-top: 0px;
}