ul.socialbuttons {
  list-style-type: none;
  overflow: hidden;
  clear: both;
  li {
    float: left;
    padding-right: 5px;
    text-align: center;
  }
  .facebook iframe {
    margin-top: -8px;
  }
  .googleplus iframe {
    margin-top: -2px;
  }
  .feedly img {
    vertical-align: top;
  }
}

