//VARIABLE SET
@import "variable";
//MIXIN SET
@import "mixin";
/*
ALL CONTS
*/
#low_page {
  font-size: 14px;
  margin-bottom: 70px;
  .page__title {
    padding:  40px 0 20px;
  }
  .page__lead {
    padding: 20px 0;
  }
  .article {
    padding: 20px 0;
    &__title {
      padding: 0 0 20px;
      color: $mono_color06;
      line-height: 1;
      font-size: 45px;
      font-family: $webfont01;
      font-weight: bold;
    }
    &__conts {
      padding: 20px 0;
    }
  }
}
/*
COMPANY
*/
//PROFILE
#profile {
  .content01 {
    .list {
      &s {
        margin-top: 50px;
        &:first-of-type {
          margin-top: 0;
        }
      }
      &_title {
        float: left;
        width: 38%;
        font-size: 16px;
        text-align: center;
      }
      &_content {
        float: right;
        width: 62%;
        font-size: 14px;
        table,tbody {
          display: block;
          th {
            padding-right: 2em;
            text-align: left;
            font-weight: normal;
          }
        }
      }
    }
  }
}
//ACCESS
#access {
  .content01 {
    padding-bottom: 0 !important;
  }
  .content02 {
    padding-top: 0 !important;
  }
}
#gmap {
  height: 400px;
}
//MESSEGE
#messege {
  .content01 {
    font-size: 14px;
    p {
      margin-top: 2em;
      &:first-of-type {
        margin-top: 0;
      }
      &.sign {
        padding-right: 2em;
        text-align: right;
      }
    }
  }
}
//promise
#promise {
  .content01 {}
  .content02 {
    .list {
      &s {}
      &_title {
        display: list-item;
        margin: 20px 0 0 20px;
        list-style-type: decimal;
        font-size: 16px;
        font-weight: bold;
      }
      &_content {
        margin: 20px 0 0 20px;
      }
    }
  }
}
/*
RECRUIT
*/
#r_messege {
  margin: 20px 0;
  padding: 0!important;
  background: $mono_color01;
  height: 480px;
  .image_box {
    position: relative;
    .image {
      position: absolute;
      top: 0;
    }
  }
  .article__title {
    position: relative;
    padding-top: 60px !important;
  }
  .content01 {
    position: relative;
    width: 450px;
    color: $mono_color02;
    .sign {
      margin-top: 20px;
      padding-right: 20px;
      text-align: right;
    }
  }
}
#job {
  .content01 {
    .list {
      &s {
        margin-top: 50px;
        &:first-of-type {
          margin-top: 0;
        }
      }
      &_title {
        float: left;
        width: 38%;
        font-size: 16px;
        text-align: center;
      }
      &_content {
        float: right;
        width: 62%;
        font-size: 14px;
        table,tbody {
          display: block;
          th {
            padding-right: 2em;
            text-align: left;
            font-weight: normal;
          }
        }
        .aside {
          display: block;
          font-size: 12px;
        }
      }
    }
    .link_entory {
      margin-top: 75px;
    }
  }
}
/*
PRIVACY
*/
#privacy, #deal {
  .article__title {
    font-size: 26px;
    font-family: $webfont01;
  }
  .content {
    .block {
      &__title {
        margin: 20px 0;
        padding-left: 20px;
        border-left: 2px solid;
        font-size: 16px;
        font-weight: bold;
      }
      &__conts {
        .list {
          &s {
            margin: 20px 0 0 20px;
          }
          &_title {
            margin-top: 20px;
            display: list-item;
            list-style-type: decimal;
            font-size: 16px;
            font-weight: bold;
            &:first-of-type {
              margin-top: 0;
            }
          }
          &_content {
            margin-top: 20px;
            h3 {
              margin-top: 20px;
              font-size: 14px;
              font-weight: normal;
            }
            ul, ol {
              li {
                margin-left: 20px;
              }
            }
            aside {
              margin: 20px 0;
              font-size: 12px;
            }
          }
        }
        .sign {
          margin-top: 20px;
          text-align: right;
        }
        table {
          width: 100%;
          border: 1px solid $mono_color07;
          thead {
            background: $mono_color05;
            tr {
              border-bottom: 1px solid $mono_color07;
              th {
                border-left: 1px solid $mono_color07;
                font-weight: normal;
                &:first-of-type {
                  border-left: none;
                }
              }
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid $mono_color07;
              th {
                font-weight: normal;
              }
              td {
                text-align: center;
                border-left: 1px solid $mono_color07;
              }
            }
          }
        }
      }
    } 
  }
}
/*
CONTACT
*/
#contact {
  .form {
    font-size: 16px;
    color: $mono_color01;
    .icon_kome {
      position: relative;
      &::after {
        content: "\00203b";
        display: block;
        position: absolute;
        top: 10px;
        left: -20px;
        font-size: 16px;
        color: $base_color01;
      }
    }
    .box01 {
      padding: 20px 0;
      text-align: center;
      background: $mono_color07;
      &__inr {
        width: 600px;
        margin: 20px auto 0;
        padding: 10px 0;
        background: $mono_color02;
        label {
          padding: 0 50px;
          input {
            margin-right: 10px;
          }
        }
      }
    }
    dl {
      margin-top: 50px;
      dt {
        float: left;
        width: 250px;
        line-height: 3;
      }
      dd {
        float: right;
        width: 600px;
        input, textarea {
          width: 100%;
          padding: 10px;
          line-height: 2;
          font-size: 16px;
          border: 1px solid $mono_color07;
          box-sizing: border-box;
        }
        label {
          display: block;
          margin-top: 40px;
          input[type="checkbox"] {
            width: auto;
            margin-top: 10px;
            margin-right: 1em;
          }
        }
        textarea {
          height: (16px*10)+20;
        }
        .inr {
          width: 100%;
          height: (12px*10)+20;
          padding: 10px;
          font-size: 12px;
          border: 1px solid $mono_color07;
          box-sizing: border-box;
          overflow-y: scroll;
          h2 {
            font-size: 12px;
            font-weight: normal;
          }
        }
        .aside {
          font-size: 12px;
        }
      }
    }
    .link_next {
      margin-top: 40px;
    }
  }
}