//VARIABLE SET
@import "variable";
//MIXIN SET
@import "mixin";
/*
ALL CONTS
*/
#front_page {
  .w_const {
    width: $front_const_width;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .w_all {
    width: 100%;
    min-width: $front_const_width;
  }
}
#low_page {
  .w_const {
    width: $low_const_width;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .w_all {
    width: 100%;
    min-width: $low_const_width;
  }
}
#header, #footer {
  min-width: $front_const_width;
  .w_const {
    width: $front_const_width;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
  }
}
//TITLE
#front_page .article, #low_page .page {
  &__title {
    text-align: center;
    line-height: 1;
    font-weight: bold;
    span {
      display: block;
      position: relative;
      &.en {
        font-family: $webfont01;
        font-size: 50px;
        &::after {
          content: "";
          display: block;
          width: 60px;
          margin: 10px auto 20px;
          border-top: solid 1px;
        }
      }
      &.jp {
        font-size: 14px;
      }
    }
  }
  &__lead {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    span {
      display: block;
    }
    strong {
      color: $base_color01;
    }
    .aside {
      font-size: 14px;
    }
  }
}
/*
BUTTON
*/
.btn {
  display: block;
  width: 400px;
  height: 3em;
  margin: 0 auto;
  line-height: 3;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  &01 {
    background: $mono_color02;
    color: $base_color01;
    border: 1px solid $base_color01;
    &:hover {
      background: $base_color01;
      color: $mono_color02;
    }
  }
}
/*
HEADER
*/
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header_height;
  background: rgba( $mono_color02, .95);
  z-index: 999;
  & > nav a {
    display: block;
    transition: .3s;
  }
  .logo_head {
    float: left;
    a {
      img {
        display: block;
        padding: (($header_height - $logo_main_img_height)/2) 0;
      }
    }
  }
  .link {
    &s {
      float: right;
      height: $header_height;
      font-size: 14px;
    }
    & {
      float: left;
      height: $header_height;
      letter-spacing: .1em;
      line-height: $header_height;
      a {
        padding: 0 10px;
        color: $mono_color03;
        &:hover {
          background: $mono_color05;
        }
      }
    }
    &_contact {
      background: $mono_color01;
      font-weight: bold;
      a {
        padding: 0 20px;
        background: $base_color01;
        color: $mono_color02;
        &:hover {
          background:rgba( $base_color01, .8);
        } 
      }
    }
  }
}
/*
WRAP ALL
*/
.wrap_all {
  margin-top: $header_height;
}
/*
FOOTER
*/
#footer {
  background: $base_color01;
  padding: 30px 0;
  .content01 {
    font-size: 12px;
    .profile {
      float: left;
      width: 260px;
      .foot_logo {}
      .address {
        margin-top: 50px;
        color: $mono_color02;
        line-height: 1.5;
        .paragraph {
          a {
            color: #fff;
          }
        }
      }
    }
    .link {
      &s {
        float: left;
        width: 200px;
        height: 2em*7;
        border-left: 1px solid $base_color02;
        &:nth-of-type(2) {
          border-right: 1px solid $base_color02;
        }
        a {
          padding-left: 40px;
          transition: .3s;
          &:hover {
            background: $base_color02;
          }
        }
      }
      &s01 {
        color: $mono_color02;
        a {
          color: $mono_color02;
        }
      }
      &s02 {
        color: $base_color03;
        a {
          color: $base_color03;
        }
      }
      & {}
    }
    .marks {
      float: right;
    }
  }
}
#copyright {
  text-align: right;
  font-size: 10px;
  color: $base_color03;
}