//VARIABLE SET
@import "variable";
//MIXIN SET
@import "mixin";
/*
ARTICLE
*/
#front_page {
  .article {
    margin-top: -$header_height;
    padding-top: $header_height;
    &__title {
      position: relative;
      padding: 45px 0;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 0;
        height: 0;
        margin: 0 auto;
        border: 180px solid transparent;
        border-top-color: $base_color04;
      }
    } 
    &__lead {
      margin-top: 60px;
    }
    .content {
      padding: 70px 0;
    }
  }
}
#main_image {
  .content01 {
    position: relative;
    .image {
      img {
        width: 100%;
        min-width: $front_const_width;
      }
    }
    .inr {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      .text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 2em*1.6;
        margin: auto;
        line-height: 1.6;
        font-size: 34px;
        font-family: YuMincho, serif!important;
        text-align: right;
        color: $mono_color02;
        span {
          display: block;
          &.span {
            &01 {
              letter-spacing: .2em;
            }
            &02 {
              letter-spacing: .26em;
            }
          }
        }
      }
    }
  }
}
#introduction {
  .article_wrap {}
  .content01 {
    .question {
      position: relative;
      width: 680px;
      margin: 0 auto;
      padding: 15px;
      background: $base_color01;
      line-height: 1.5;
      font-size: 20px;
      color: $mono_color02;
      text-align: center;
      border-radius: 20px;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -30px;
        left: 0;
        width: 0;
        height: 0;
        margin: auto;
        border: 15px solid transparent;
        border-top-color: $base_color01;
      }
      span {
        display: block;
        &.deco {
          font-size: 16px;
        }
      }
      strong {
        color: $insert_color01;
      }
    }
    .answer {
      &s {
        margin-top: 100px;
        list-style-type: none;
      }
      & {
        position: relative;
        float: left;
        width: 192px;
        margin-right: 10px;
        padding: 45px 20px 25px;
        border: 2px solid $base_color01;
        box-sizing: border-box;
        &:last-of-type {
          margin-right: 0;
        }
        .icon_check {
          position: absolute;
          top: -23px;
          right: 0;
          left: 0;
          width: 46px;
          height: 46px;
          margin: 0 auto;
        }
        .text {
          height: (16px * 1.5 * 3);
          line-height: 1.5;
          font-size: 14px;
          color: $mono_color03;
        }
        .image {}
      }
    }
  }
  .content02 {
    background: $base_color01;
    font-size: 14px;
    line-height: 2.5;
    color: $mono_color02;
    .box_left {
      float: left;
      width: 370px;
      .box_title {
        margin: 100px 0 40px;
        font-size: 14px;
        text-align: center;
        border-top: 1px solid;
        border-bottom: 1px solid;
        &:first-of-type {
          margin-top: 0;
        }
      }
      .list {
        &s {
          margin-left: 40px;
        }
        & {
          margin-left: 2em;
        }
      }
    }
    .box_right {
      float: right;
      width: 500px;
      .paragraph {
        margin-top: 2.5em;
        &:first-of-type {
          margin-top: 0;
        }
        strong {
          color: $insert_color01;
          border-bottom: 1px dotted;
        }
      }
    }
  }
}
#feature {
  .article_wrap {}
  .content01 {
    .list {
      &s {}
      &_content {
        margin-top: 30px;
        height: 130px;
        border: 1px solid;
        box-sizing: border-box;
        &:nth-of-type(-n+1) {
          margin-top: 0;
        }
      }
      &_title {
        position: relative;
        float: left;
        width: 380px;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: -51px;
          bottom: 0;
          height: 0;
          margin: auto;
          border: solid transparent;
          border-width: 65px 0 65px 50px;
        }
        &:nth-of-type(2n-1) {
          background: $base_color01;
          border-color: $base_color01;
          &::after {
            border-left-color: $base_color01;
          }
        }
        &:nth-of-type(2n) {
          background: $base_color02;
          border-color: $base_color02;
          &::after {
            border-left-color: $base_color02;
          }
        }
        .right_box {
          float: right;
          width: 190px;
          margin-top: 21px;
          margin-right: 50px;
          line-height: 1.5;
          font-size: 20px;
          text-align: center;
          span {
            display: block;
            &.point {
              color: $mono_color02;
              font-family: $webfont01;
              font-size: 18px;
            }
          }
          strong {
            display: block;
            color: $insert_color01;
          }
        }
        .image {
          float: right;
          margin-top: 40px;
          margin-right: 40px;
        }
      }
      &_text {
        float: left;
        width: 620px;
        padding: 23px 40px 0 90px;
        font-size: 14px;
        color: $mono_color03;
        &:nth-of-type(2n-1) {
          border-color: $base_color01;
        }
        &:nth-of-type(2n) {
          border-color: $base_color02;
        }
        strong {
          color: $base_color01;
        }
      }
    }
  }
  .content02 {
    background: $mono_color01;
    .content_wrap {
      position: relative;
      height: 740px;
      color: $mono_color02;
      &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
      &::before {
        width: 100%;
        height: 50%;
        border-bottom: 1px solid $mono_color03;
      }
      &::after {
        width: 50%;
        height: 100%;
        border-right: 1px solid $mono_color03;
      }
      .box_title {
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        line-height: 140px;
        text-align: center;
        border-radius: 50%;
        background: $base_color01;
        z-index: 1;
      }
      .list {
        &s {
          float: left;
          width: 500px;
          height: 370px;
          padding: 0 70px;
          box-sizing: border-box;
        }
        &s_top {}
        &s_bottom {
          margin-top: 55px;
        }
        &_title {
          margin-bottom: 15px;
          text-align: center;
          font-size: 18px;
        }
        &_content {
          margin: 5px;
          float: left;
          .icon_lang {
            position: relative;
            width: 80px;
            height: 80px;
            font-size: 12px;
            background: $mono_color03;
            border-radius: 10px;
            @include replace(".list_content", ".list_content:nth-of-type(2n)") {
              background: $mono_color04;
            }
            &__inr {
              position: absolute;
              top: 0;
              bottom: 0;
              width: 100%;
              margin: auto;
              line-height: 1.5;
              text-align: center;
              span {
                display: block;
              }
              &.inr1line {
                height: 1.5em;
              }
              &.inr2line {
                height: 3em;
              }
            }
          }
          .text_lang {
            text-align: center;
            font-size: 11px;
          }
        }
      }
    }
  }
}
#service {
  .article_wrap {
    background: $mono_color05;
  }
  .content01 {
    .lists {
      &_all {}
      &_otr {
        float: left;
        width: 480px;
        margin-right: 40px;
        padding: 50px 20px 10px;
        background: $base_color01;
        border-radius: 5px;
        box-sizing: border-box;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        .title {
          text-align: center;
          &__image {}
          &__text {
            margin-top: 10px;
            line-height: 1.6;
            font-size: 16px;
            color: $insert_color01;
            span {
              display: block;
              &.text_aside {
                font-size: 14px;
              }
            }
            em {
              padding-left: .2em;
              font-size: 26px;
            }
          }
        }
        .list {
          &s {}
          & {
            list-style-type: none;
            float: left;
            width: 180px;
            height: 180px;
            margin: 20px;
            text-align: center;
            background: $mono_color05;
            color: $mono_color03;
            border-radius: 5px;
            &__text {
              margin-top: 10px;
              line-height: 1.2;
              font-size: 18px;
              span {
                display: block;
              }
              em {
                font-size: 22px;
              }
            }
            &__image {}
            &__price {
              line-height: 1;
              font-size: 16px;
              em {
                font-size: 30px;
              }
            }
          }
        }
        .etc {
          padding: 0 20px;
          font-size: 16px;
          text-align: right;
          color: $mono_color02;
        }
      }
    }
    .attention {
      text-align: center;
      margin-top: 40px;
      font-size: 14px;
      color: $mono_color03;
    }
  }
}
#performance {
  .article_wrap {
    background: $mono_color02;
  }
  .content01 {
  }
}
#example {
  .article_wrap {
    background: $mono_color05;
  }
  .content01 {
    .list {
      margin-top: 60px;
      &:first-of-type {
        margin-top: 0;
      }
      &_title {
        position: relative;
        height: 60px;
        line-height: 60px;
        background: $base_color01;
        text-align: center;
        color: $mono_color02;
        .text {
          font-size: 20px;
        }
        .aside {
          position: absolute;
          top: 0;
          left: 0;
          width: 180px;
          font-size: 22px;
          font-weight: normal;
          background: $base_color02;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -25px;
            bottom: 0;
            margin: auto;
            width: 0;
            height: 0;
            border: solid transparent;
            border-left-color: $base_color02;
            border-width: 30px 0 30px 25px;
          }
        }
      }
      &_content {
        padding: 40px;
        border: 2px solid $base_color01;
        background: #fff;
        .image {
          float: left;
        }
        .inr_list {
          &s {
            float: right;
            width: 260px;
            font-size: 14px;
            color: $mono_color03;
          }
          &_title {}
          & {
            display: list-item;
            margin-left: 2em;
          }
        }
      }
    }
  }
}