---
layout: app/_layouts/recent-articles.html.ejs
title: "ブログ"
description: "アルタスファイブが、どんな会社なのか、ブログを通じて、ご紹介しています。ご意見や、ご感想、あるいは、開発のご依頼など、ございましたら、お問い合わせを通じて、ご連絡くださいませ。"
---
<div id="low_page" class="wrap_all">
  <h1 class="page__title w_const"><span class="en">BLOG</span><span class="jp">ブログ</span></h1>
  <section class="page__lead  w_const input_container">
    <span>アルタスファイブが、どんな会社なのか、ブログを通じて、ご紹介しています。</span>
    <span>求人のご応募、開発のご相談など、お気軽にお問い合わせください。</span>
  </section>
  <article id="blog" class="article">
    <div class="article__conts w_const">
      <%- include('../_includes/archive_index.html.ejs', {
        posts: site.posts
      }); %>
    </div>
  </article>
</div>
