<footer id="footer">
  <nav class="w_const">
    <div class="content01 cf">
      <div class="profile">
        <h1 class="foot_logo"><a href="/"><img src="{% asset_path logo_footer.png %}" alt="Altus-Five（アルタスファイブ）"></a></h1>
        <div class="address">
          <p class="paragraph">〒160-0022</p>
          <p class="paragraph">東京都新宿区新宿2-1-9 ステラ新宿5F</p>
          <p class="paragraph"><a href="tel:03-6904-5573">TEL：03-6904-5573</a></p>
        </div>
      </div>
      <ul class="links links01">
        <li class="link"><a href="/">TOP</a></li>
        <li class="link"><a href="/#introduction">アルタスファイブとは</a></li>
        <li class="link"><a href="/#feature">強み</a></li>
        <li class="link"><a href="/#service">サービス</a></li>
        <li class="link"><a href="/#performance">実績</a></li>
        <li class="link"><a href="/#example">開発事例</a></li>
        <li class="link"><a href="/blog/">ブログ</a></li>
      </ul>
      <ul class="links links02">
        <li class="link"><a href="/recruit/">採用情報</a></li>
        <li class="link"><a href="/company/">会社概要</a></li>
        <li class="link"><a href="/privacy/">個人情報保護方針</a></li>
        <li class="link"><a href="/contact/">お問い合わせ</a></li>
      </ul>
      <ul class="marks">
        <li class="mark"><img src="{% asset_path p_mark.png %}" alt=""></li>
      </ul>
    </div>
    <div id="copyright">© 2016 Altus-Five Co.,LTD. ALL RIGHTS RESERVED.</div>
  </nav>
</footer>
