//BASE
$front_const_width: 1024px;
$low_const_width: 924px;
$base_font_family: ("Hiragino Kaku Gothic Pro", Meiryo, sans-serif);
$webfont01: ("PT Sans Narrow", sans-serif !important);
$webfont02: ("Noto Sans Japanese", sans-serif);
$base_bgcolor01: #1D1D1D;
$mono_color01: #000;
$mono_color02: #fff;
$mono_color03: #717171;
$mono_color04: #8d8d8d;
$mono_color05: #f9f9f9;
$mono_color06: #c6c6c6;
$mono_color07: #e5e5e5;
$base_color01: #9f2121;
$base_color02: #870000;
$base_color03: #c99b9b;
$base_color04: #f8e6e6;
$insert_color01: #fff5a3;
//PAGE ALL
$header_height: 74px;
$logo_main_img_height :30px;