<ul class="tag-uline">
  <%
  post.tags.forEach((tag) => {
    var tagColor = 12;
    if (site.tagMap[tag]) {
      tagColor = site.tagMap[tag].index % 12;
    }
    %>
    <li class="tag-uline-label tag__<%= tagColor %>">
      <a href="/blog/tag/<%= encodeURIComponent(tag) %>/">
        <%= tag %>
      </a>
    </li>
    <%
  });
  %>
</ul>
