<ul>
  <%
  site.posts.forEach(function(post, index, array) {
    if (index >= 5) {
      return;
    }
    %>
    <li class="recent">
      <a href="<%= post.url %>">
        <%= post.title %>
      </a>
    </li>
    <%
  });
  %>
</ul>
