<article id="scout" class="article">
  <h1 class="scout_title w_const">＼(＾▽＾*) 私たちと一緒に働いてみませんか？ (*＾▽＾)／</h1>
  <div class="article__conts w_const">
    <section class="content01 content">
      <p>少しでも興味をお持ちいただけたら、お気軽に、お問い合わせください。</p>
      <p><a href="/contact/entry/">採用応募受付へ</a></p>
      <p>(採用応募じゃなく、ただ、会ってみたいという方も、大歓迎です。)</p>
    </section>
  </div>
</article>
