@import "../assets/variable";

.posts {
  a {
    color: #444;
    text-decoration: none;
  }
  a:hover {
    color: #777;
  }

  .posts-list {
    list-style-type: none;
    float: left;
    width: 33.3%;
    .post-link {
      text-align: center;
      line-height: 1.75em;
      padding: 10px;
      /* [上][右][下][左] */
      margin: 0px 5px 10px 5px;
      box-shadow: 1px 1px 1px 1px #ccc;
    }
  }
}

.relate {
  a {
    color: #444;
    text-decoration: none;
  }
  a:hover {
    color: #777;
  }

  h1 {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    width: 100%;
    li {
      width: 165px;
      float:left;
      text-align: center;
      line-height: 1.75em;
      padding: 10px;
      /* [上][右][下][左] */
      margin: 0px 5px 10px 5px;
      box-shadow: 1px 1px 1px 1px #ccc;
    }
  }
  ul:after {
    content: "";
  	display: block;
  	clear: both;
  }
}

.tags {
  .tags-title {
    font-weight: bold;
    border-bottom: 1px solid #e7e7e7;
    padding: 0px 0px 10px 0px;
    /* [上][右][下][左] */
    margin: 20px 0px 20px 0px;
  }
  a {
    color: #444;
    text-decoration: none;
  }
  a:hover {
    color: #777;
  }
}

.tag {
  &__0 {
    border-color: #a6cee3;
  }
  &__1 {
    border-color: #1f78b4;
  }
  &__2 {
    border-color: #b2df8a;
  }
  &__3 {
    border-color: #33a02c;
  }
  &__4 {
    border-color: #fb9a99;
  }
  &__5 {
    border-color: #e31a1c;
  }
  &__6 {
    border-color: #fdbf6f;
  }
  &__7 {
    border-color: #ff7f00;
  }
  &__8 {
    border-color: #cab2d6;
  }
  &__9 {
    border-color: #6a3d9a;
  }
  &__10 {
    border-color: #ffff99;
  }
  &__11 {
    border-color: #b15928;
  }
  &__12 {
    border: solid #aaa 1px;
    background-color: #f7f7f7;
  }
}

#title {
  color: #4a4a4a;
  margin-bottom: 0.35em;
  font-size: 3em;
  line-height: 40px;
  text-transform: uppercase;
}

#blog-subtitle {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  font-weight: 600;
  color: #787878;
  max-width: 820px;
  /* [上][右][下][左] */
  padding: 0px 45px 0px 0px;
}

#blog-content {
  float: left;
  max-width: 810px;
}

#blog-menu {
  float: right;
  width: 180px;
  ul {
    list-style-type: none;
    li.recent {
      line-height: 1.5;
      font-size: 12px;
      /* [上][右][下][左] */
      padding: 3px 5px 3px 5px;
      margin: 0px 0px 3px 0px;
      box-shadow: 1px 1px 1px 1px #ccc;
    }
    li.tag-color-label {
      font-size: 12px;
      /* [上][右][下][左] */
      padding: 0px 3px 0px 3px;
      margin: 3px 0px 7px 0px;
      border-left-width: 5px;
      border-left-style: solid;
      box-shadow: 1px 1px 1px 1px #ccc;
    }
  }
}

#blog-date {
  float: left;
}
#blog-tags {
  float: right;
}

#blog-menu li, #blog-tags li {
  a {
    color: #4078c0;
    text-decoration: none;
  }
  a:active,
  a:hover {
    text-decoration: underline;
  }
}

.tag-index {
  line-height: 1em;
  list-style-type: none;
  .tag-color-label {
    display: inline-block;
    /* [上][右][下][左] */
    margin: 0px 0px 10px 3px;
    padding: 3px 5px 3px 5px;
    /*border: solid #ccc 1px;*/
    /*background-color: #e7e7e7;*/
    div {
      padding: 1px 3px 3px 3px;
    }
  }
}


.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  /* [上][右][下][左] */
  padding: 0px 45px 45px 0px;
}

#blog .blog__title {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  span {
    display: block;
  }
  strong {
    color: $base_color01;
  }
  .aside {
    font-size: 32px;
  }
}

.post-link {
  margin-bottom: 0.75em;
  text-align: left;
  .post-link-tags {
    text-align: left;
    margin-top: 10px;
  }
}

.tag-uline {
  line-height: 1em;
  .tag-uline-label {
    display: inline-block;
    /* [上][右][下][左] */
    padding: 3px 5px 3px 5px;
    margin: 0px 3px 3px 0px;
    font-size: 12px;

    border-left-width: 5px;
    border-left-style: solid;
    box-shadow: 1px 1px 1px 1px #ccc;
  }
}

.tag-index {
  line-height: 1em;
  list-style-type: none;
  .tag-color-label {
    display: inline-block;
    /* [上][右][下][左] */
    margin: 0px 0px 10px 10px;
    padding: 5px 8px 5px 8px;
    /*background-color: #e7e7e7;*/

    border-left-width: 8px;
    border-left-style: solid;
    box-shadow: 1px 1px 1px 1px #ccc;
  }
}


.post-title {
  font-weight: 600;
  font-size: 1.25em;
  display: block;
  text-align: left;
}

.post-date {
  color: #8a8a8a;
  font-family: Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  text-align: left;
}

.post-description {
  display: block;
  text-align: left;
}
