@import "../assets/variable";
/*
SCOUT
*/
#scout {
  margin-top: 10px;
  margin-bottom: 30px;
  .scout_title {
    font-size: 18px;
    font-family: $webfont01;
    text-align: left;
    padding: 10px;
  }
}
