//VARIABLE SET
@import "assets/variable";

#main_image  {
  figure {
    background-color: $mono_color01;
  }
  svg {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 45%;
    margin-left: -webkit-calc((100% - 88px) / 2px);
    margin-left: calc((100% - 88px) / 2px);
  }
}

#r_messege {
  svg {
    margin-top: 200px;
    margin-left: 650px;
  }
}
