---
layout: app/_layouts/default.html.ejs
title: "会社概要"
date: 2016-11-17 10:00:00 +0900
---
<div id="low_page" class="wrap_all">
  <h1 class="page__title w_const"><span class="en">COMPANY</span><span class="jp">会社概要</span></h1>
  <article id="profile"  class="article">
    <h1 class="article__title w_const">PROFILE</h1>
    <div class="article__conts w_const">
      <section class="content01 content">
        <dl class="lists cf">
          <dt class="list_title">会社名</dt>
          <dd class="list_content">株式会社　Altus-Five　(アルタス・ファイブ)</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">住所</dt>
          <dd class="list_content">〒160-0022 東京都新宿区新宿2-1-9 ステラ新宿5F</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">連絡先</dt>
          <dd class="list_content">TEL：03-6904-5573　FAX：03-6904-5504</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">代表取締役</dt>
          <dd class="list_content">佐藤　円</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">設立</dt>
          <dd class="list_content">2006年10月2日</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">資本金</dt>
          <dd class="list_content">1000万円</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">従業員数</dt>
          <dd class="list_content">11名</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">取引銀行</dt>
          <dd class="list_content">三井住友銀行　幡ヶ谷支店</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">主要取引先</dt>
          <dd class="list_content">株式会社ＮＴＴデータＣＣＳ</dd>
          <dd class="list_content">株式会社エンタ</dd>
          <dd class="list_content">株式会社クエスト</dd>
          <dd class="list_content">健康年齢少額短期保険株式会社</dd>
          <dd class="list_content">東海ソフト株式会社</dd>
          <dd class="list_content">日本ケミファ株式会社</dd>
          <dd class="list_content">株式会社フレックス</dd>
          <dd class="list_content">株式会社フュージョン</dd>
          <dd class="list_content">株式会社ブログウォッチャー</dd>
          <dd class="list_content">株式会社ベイジ</dd>
          <dd class="list_content">株式会社リクルートスタッフィング</dd>
        </dl>
        <dl class="lists cf">
          <dt class="list_title">沿革</dt>
          <dd class="list_content">
            <table>
              <tbody>
                <tr>
                  <th>2006年10月</th>
                  <td>株式会社　Altus-Five　設立</td>
                </tr>
                <tr>
                  <th>2009年2月</th>
                  <td>1000万に増資</td>
                </tr>
                <tr>
                  <th>2012年8月</th>
                  <td>現住所に移転</td>
                </tr>
              </tbody>
            </table>
          </dd>
        </dl>
      </section>
    </div>
  </article>
  <article id="access" class="article">
    <h1 class="article__title w_const">ACCESS</h1>
    <div class="article__conts w_const">
      <section class="content01 content">
        <p>東京メトロ丸の内線 新宿御苑前より徒歩1分</p>
        <p><a href="https://goo.gl/maps/sHwuzTeQc522" target="_blank">Google Mapで見る</a></p>
      </section>
    </div>
    <div class="article__conts w_all">
      <section class="content02 content">
        <div id="gmap"></div>
      </section>
    </div>
  </article>
  <article id="messege" class="article">
    <h1 class="article__title w_const">MESSEGE</h1>
    <div class="article__conts w_const">
      <section class="content01 content">
        <p>
          アルタスファイブは、システムの構築を通じて、お客様のビジネスを、支援している会社です。<br>
          顧客企業が求めるシステムを、要求にあわせて、フルスクラッチで開発することを得意としています。<br>
          最近では、WEBシステムの開発、分析系システム、クローラー開発などが、実績として、多くなっています。
        </p>
        <p>
          社名の ALTUS とは、ラテン語で、「深い」という意味があります。技術を深く探求し、プロフェッショナルとしての誇りを持ち続けたいという想いが込められています。FIVEというのは、創業メンバーと、起業準備で相談に乗っていただいた方々の5人に感謝と敬意を表し、社名に含めました。<br>
        </p>
        <p>
          「時間的価値を創出する」
        </p>
        <p>
          私たちが、ミッションとしているのは、時間的価値が高まるような仕事をすることです。<br>
          時間というのは、ほぼすべての企業や事業にとって、最重要課題となっています。<br>
          システムの開発が早いなら、競合他社よりも早く市場投入することができ、業務効率が早期に改善できれば利益率が高まり、投資回収が早まれば、次への投資意欲につながり、と、このように、スピードがもたらすベネフィットは、連鎖的で、多岐に渡ります。<br>
          つまりは、「時間」を常に意識して、その価値が高まるように仕事をすることが、お客様の利益にも繋がるという考え方です。<br>
          "時間"について問題意識を持って仕事しているか、持たずに仕事するか、たったそれだけの違いが、数年後に、大きな差になるのではないでしょうか？<br>
        </p>
        <p>
          また、時間的価値には、スピードとは逆に、時間をかけることで、得られるものもあります。教育と学習効果、経験などが、これにあたります。教育などは、内内の取り組みになることが多いわけですが、時間のかかることなら、躊躇することなく、すぐに始めて、熟成される時期を、なるべく近い将来に置くように計画します。
        </p>
        <p>
          仕事の方針
        </p>
        <p>
          企業の情報システムは、個人情報や、企業秘密が含まれていることが多く、情報漏洩を避けるためにも、昨今では、お客様先に常駐して、開発チームを形成することが多くなっています。<br>
          私たちのような、システム開発を行っている会社の中には、常駐する案件だけを専門に手がける会社もあったりします。<br>
          弊社は、現時点で、受注するプロジェクトの約50%が、お客様先常駐で、残り50%が、自社内での開発となっています。<br>
          将来的には、自社内での開発の割合を高めていこうとしています。<br>
          <br>
          今どきの開発は、決定権のあるユーザーの近くで、1つ場所に集まって、チームを組織するのが、多くの現場で行われています。コミュニケーションロスも小さくなり、見える化もされ、とても、理にかなっています。開発を請け負ったプライムベンダーが、客先常駐して開発体制を構築するのは、納得できるし、否定するものでもありません。<br>
          しかし、弊社のような、小規模な会社が、そのやり方に、従っているだけでは、会社にチカラが付かないということも、嘆くべき主張です。<br>
          あちらこちらと、バラバラに常駐している社員たちに、さぁ、"情報を共有しよう"、"ノウハウを蓄えよう"と叫んだところで、そもそも、まとまるわけもありません。<br>
          社員が怠慢なのではなく、その現場でのチーム活動で手一杯で、その上、さらに、自社のために、何かやろうとする余力など無いというのが、実際のところです。<br>
          この状況は、私自身もエンジニアとして、客先での常駐業務をやってきているから、わかります。<br>
          同じような話をもう1つ挙げると、弊社では、社員限定の掲示板を運営していますが、客先常駐すると、この掲示板にコメントを寄せることすら、後ろめたいと言っています。現場が離れると、自社に貢献する作業が、やってはいけない作業になってしまうというのも、残念な話です。作業場も、机も、PCも、全部借り物で、スケジュールもタスク割も、お膳立てされた状況の中に置かれると、"借りを作ってる"と錯覚するのかもしれません。<br>
          これでは、なかなか、会社にチカラがつきません。もしも、弊社が、営業力をウリにした会社なら、その状況下でも、人材の流通量を増やすことに注力していけば、利益が上がるのでしょう。<br>
          しかし、弊社は、技術研鑽を根っ子に、エンジニアリングしたい会社なので、会社としての開発力を高めていくことが先決です。<br>
          社員の意見やフィードバックが集まりやすい、自社内での開発を増やしていくことを、方針として、開発することに拘っていきたいと思います。<br>
        </p>
        <p>
          取り組みと情報発信
        </p>
        <p>
          さて、弊社は、時間的価値、特に、スピード感ということに焦点をあて、同じシステム開発でも、他社にはない、特徴のある事業をやっていこうとしています。<br>
          * 翻訳本に書かれてあることを、ただ、なぞっただけの儀式なら、やめてもいいんんじゃないか？<br>
          * 実装を始めるときの準備時間をもっと短縮できないのか？<br>
          * 自動化できる作業を、手でやってないか？<br>
          * 重複した機能や作業を集約できないか？<br>
          * 設計作業にこそ、定型化できる仕事があるんじゃないか？<br>
          * 要件定義のヒヤリングをアンケートシステムで代用できないのか？<br>
          このような課題を、1つ1つ、試行と模索を重ねて、紐解いていくことで、スピード感を手にすることができたら、ちょっと面白いと思います。<br>
          少なくとも、悩んで、もがいて、失敗を繰り返す様は、共感を抱いていただけるんじゃないでしょうか。<br>
          私たちは、この取り組みが、システム開発の仕事のあり方として、たくさんの方々の試金石になり、少なからず、影響を与えられることを目指しています。<br>
          どんな取り組みをやっているのか、時折、ブログで発信していきたいと思っています。
        </p>
        <p class="sign">代表取締役<br>
        佐藤　円</p>
      </section>
    </div>
  </article>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh0GzusTyaqJg6to2gwHtSy_geirIE24w"></script>
