<!doctype html>
<html dir="ltr" lang="ja">
<head>
  {% assign title = page.title | append:' | ブログ' %}
  {% assign description = 'アルタスファイブのブログから、"' | append:page.title | append:'"タグの記事をご紹介します。' %}
  {% include head.html title=title description=description %}
  {% stylesheet blog %}
</head>
<body>
  {% include gtm.html %}
  <!--[if lt IE 9]>
    <p class="browserupgrade">
      <strong>古い</strong>ブラウザをご使用されています。
      本サイトを快適に閲覧頂くために、<a href="http://browsehappy.com/">新しいブラウザにアップグレード</a>してください。
    </p>
  <![endif]-->
  {% include header.html %}

  <div id="low_page" class="wrap_all">
    <h1 class="page__title w_const"><span class="en">BLOG</span><span class="jp">"{{page.title}}" タグの記事です。</span></h1>
    <article id="blog" class="article">
      <div class="article__conts w_const">
        {% include archive_index.html posts=page.posts %}
      </div>
    </article>
  </div>

  {% include footer.html %}
  {% include javascripts.html %}
</body>
</html>
