<!doctype html>
<html dir="ltr" lang="ja">
<head>
  {% include head.html %}
  {% stylesheet blog %}
</head>
<body>
  {% include gtm.html %}
  <!--[if lt IE 9]>
    <p class="browserupgrade">
      <strong>古い</strong>ブラウザをご使用されています。
      本サイトを快適に閲覧頂くために、<a href="http://browsehappy.com/">新しいブラウザにアップグレード</a>してください。
    </p>
  <![endif]-->
  {% include header.html %}

  <div id="low_page" class="wrap_all">
    <article id="blog" class="article">
      <h1 class="article__title w_const">{{ page.title }}</h1>
      <div class="article__conts w_const">
        <div id="date">{{ page.date | date: "%Y-%m-%d" }}</div>
        <div class="post">
        {{content}}
        </div>
      </div>
      <div class="w_const">
        {% include socialbuttons_v.html %}
      </div>
    </article>
    {% include scout.html %}
  </div>

  {% include footer.html %}
  {% include javascripts.html %}
  <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
