<!doctype html>
<html dir="ltr" lang="ja">
<head>
  {% include head.html %}
  {% stylesheet blog %}
</head>
<body>
  {% include gtm.html %}
  <!--[if lt IE 9]>
    <p class="browserupgrade">
      <strong>古い</strong>ブラウザをご使用されています。
      本サイトを快適に閲覧頂くために、<a href="http://browsehappy.com/">新しいブラウザにアップグレード</a>してください。
    </p>
  <![endif]-->
  {% include header.html %}

  <div id="blog_page" class="wrap_all">
    <article id="blog" class="article">
      <section class="blog__title w_const">
        <span>{{ page.title }}</span>
      </section>
      <div class="article__conts w_const cf">
        <div id="blog-content">
          <div id="blog-subtitle" class="cf">
            <div id="blog-date">
              {{ page.date | date: "%Y/%m/%d" }}
            </div>
            <div id="blog-tags">
              <ul class="tag-uline">
                {% for tag in page.tags %}
                  {% assign tagColor = 12 %}
                  {% for stag in site.tags %}
                    {% if tag == stag[0] %}
                      {% assign tagColor = forloop.index0 | modulo:12 %}
                    {% endif %}
                  {% endfor %}
                  <li class="tag-uline-label tag__{{tagColor}}">
                    <a href="/blog/tag/{{ tag|uri_escape }}">{{ tag }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="markdown-body">
          {{content}}
          </div>
        </div>
        <div id="blog-menu">
          <span><strong>タグ</strong></span>
          <ul>
            {% for tag in site.tags %}
              {% assign tagColor = forloop.index0 | modulo:12 %}
              <li class="tag__{{tagColor}}">
                <a href="/blog/tag/{{ tag[0]|uri_escape }}">
                  {{ tag[0] }} ({{ tag[1] | size }})
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="w_const">
        {% include socialbuttons_v.html %}
      </div>
    </article>
    {% include scout.html %}
  </div>

  {% include footer.html %}
  {% include javascripts.html %}
  <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
